<h2>Taxpayer Information</h2>

<P>Tax payer Details</P>

<h3>Taxpayer Name</h3> <P>{{user.name}}</P>
<h3>TIN</h3>  <P>{{user.TIN}}</P>
<h3>Tax office of Registration</h3>  <P></P>
<h3>Address</h3>  <P>{{user.TIN}}</P>
<h3>Email</h3>  <P>{{user.email}}</P>
<h3>Phone Number</h3>  <P>{{user.phonenumber}}</P>

